# Разрешаем Git видеть папки, но игнорировать их содержимое
hh_pages/*
!hh_pages/.gitkeep

hh_resumes/*
!hh_resumes/.gitkeep

data/*
!data/.gitkeep

# Конкретные файлы
Бенчмарк презентация.pdf
Бенчмарки (оформление по примеру).xlsx

#Резервный код, если api одобрят
Было, если бы был API/

#Тех файлы
 __pycache__/