data/*
!data/.gitkeep

# Конкретные файлы
Битва с авторизацией hh.txt
Бенчмарк презентация.pdf
Бенчмарки (оформление по примеру).xlsx

# Резервный код, если api одобрят
Было, если бы был API/

# Кэш Python
__pycache__/
.ipynb_checkpoints/
.vscode/
.idea/

#Ключи
.env